# Lyrics Generator

In [10]:
import os
import pandas as pd

In [14]:


# Define input and output paths
folder_path = r"E:\Lyrics_Generator\Data_Sets\Songs"
output_folder = r"E:\Lyrics_Generator\Data_Sets"
output_file = os.path.join(output_folder, "merged_songs.csv")

# Ensure output folder exists
os.makedirs(output_folder, exist_ok=True)

# Get all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith(".csv")]

# Read and merge
dfs = [pd.read_csv(os.path.join(folder_path, file)) for file in csv_files]
merged_df = pd.concat(dfs, ignore_index=True)

# Save to CSV
merged_df.to_csv(output_file, index=False)
print(f"Merged {len(csv_files)} CSV files into '{output_file}' successfully!")

Merged 21 CSV files into 'E:\Lyrics_Generator\Data_Sets\merged_songs.csv' successfully!

# Loading the Dataset

In [19]:
df = pd.read_csv(r"E:\Lyrics_Generator\Data_Sets\merged_songs.csv")

In [21]:
df.head()

,Artist,Title,Album,Date,Lyric,Year,Unnamed: 0
0,Ariana Grande,"​thank u, next","thank u, next",2018-11-03,thought i'd end up with sean but he wasn't a m...,2018.0,NaN
1,Ariana Grande,7 rings,"thank u, next",2019-01-18,yeah breakfast at tiffany's and bottles of bub...,2019.0,NaN
2,Ariana Grande,​God is a woman,Sweetener,2018-07-13,you you love it how i move you you love it how...,2018.0,NaN
3,Ariana Grande,Side To Side,Dangerous Woman,2016-05-20,ariana grande nicki minaj i've been here all ...,2016.0,NaN
4,Ariana Grande,​​no tears left to cry,Sweetener,2018-04-20,right now i'm in a state of mind i wanna be in...,2018.0,NaN

# Exploring the data

In [24]:
df.shape

(6027, 7)

In [26]:
df['Artist'].value_counts()

Artist
Eminem           521
Taylor Swift     479
Drake            466
Beyoncé          406
Rihanna          405
Lady Gaga        402
Justin Bieber    348
Coldplay         344
Katy Perry       325
Nicki Minaj      323
Ariana Grande    308
Ed Sheeran       296
BTS (방탄소년단)      278
Dua Lipa         247
Maroon 5         197
Selena Gomez     175
Post Malone      148
Billie Eilish    145
Charlie Puth      75
Cardi B           75
Khalid            64
Name: count, dtype: int64

In [28]:
df['Artist'].nunique()

21

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Artist      6027 non-null   object
 1   Title       6027 non-null   object
 2   Album       4453 non-null   object
 3   Date        4278 non-null   object
 4   Lyric       5981 non-null   object
 5   Year        4278 non-null   float64
 6   Unnamed: 0  5719 non-null   float64
dtypes: float64(2), object(5)
memory usage: 329.7+ KB

In [32]:
df.describe()

              Year   Unnamed: 0
count  4278.000000  5719.000000
mean   2011.837775   175.362476
std      53.725459   121.678762
min       1.000000     0.000000
25%    2010.000000    71.000000
50%    2014.000000   156.000000
75%    2018.000000   263.000000
max    2022.000000   520.000000

# Data CLeaning and Preprocessing